Repository wp-cli/scaffold-package-command, pull requests merged in 2024-03, with the labels that each got.

#230 Switch up CircleCI dependencies to get tests running again
  .circleci/config.yml
Labels: command:scaffold-package, command:scaffold-package-tests

#229 Fix scaffold package tests command docs
  README.md
  src/ScaffoldPackageCommand.php
Labels: scope:documentation

#232 Add pre post message example for scaffold readme
  README.md
  src/ScaffoldPackageCommand.php
Labels: command:scaffold-package-readme, scope:documentation

#234 Improve URL validation for scaffold package readme section
  features/scaffold-package-readme.feature
  src/ScaffoldPackageCommand.php
Labels: bug, command:scaffold-package-readme

#237 Add `github` option for `--ci` in scaffold package tests
  README.md
  features/scaffold-package-tests.feature
  src/ScaffoldPackageCommand.php
  templates/testing.yml
Labels: command:scaffold-package, command:scaffold-package-tests

#238 Add phpcbf composer script in scaffolded composer file
  templates/composer.mustache
Labels: command:scaffold-package
